EXPO_PUBLIC_API_URL=http://localhost:3000/api/v1
EXPO_PUBLIC_STREAM_API_KEY=your_stream_api_key
EXPO_PUBLIC_CLOUDINARY_CLOUD_NAME=your_cloud_name
EXPO_PUBLIC_CLOUDINARY_UPLOAD_PRESET=voicedating_unsigned
EXPO_PUBLIC_ENV=development
